<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link th:href="@{/css/style.css}" rel="stylesheet"/>
  <link th:href="@{/css/sidenavigation.css}" rel="stylesheet"/>
</head>
<body>
<div class="sidenav">
  <a style="color: #2ecc71" href="/">Categories:</a>
  <a href="#">Olive Oil</a>
  <a href="#">Olives</a>
  <hr>
  <a style="color: #2ecc71" href="/productpagecontroller">Add a new product</a>
  <hr>
  <a style="color: #2ecc71" href="/view_all_products_from_database">View all products:</a>

</div>
<div class="container">

  <div class="row">
      <div class="col card-deck ml-4 my-4" >
      <div class="card" th:each="product : ${products}">
        <img class="card-img-top" th:src="${product.getImage_of_product()}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title" th:text="${product.getProduct_name()}"></h4>
          <p class="card-text" th:text="${product.getDescription_of_product()}"></p>
      </div>
        <div class="card-footer">
          <p th:text="${product.getPrice()}"></p>
        </div>
        <div class="card-footer">

          <td><a th:href="@{/delete_product/{id}(id=${user.id})}" class="btn btn-primary">delete</a></td>

        </div>
        </div>
      </div>
        </div>

    </div>
  </div>
</div>
</body>
</html>